html,
body,
div,
header,
section,
h1,
p,
h2,
h3,
button {
  margin: 0;
  padding: 0;
}
.header {
  width: 100%;
  padding: 50px;
  padding-left: 100px;
  margin-bottom: 30px;
}

.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px 100px;
  gap: 50px;
}

.memo {
  width: 40%;
  min-width: 200px;
}

.right {
  width: 60%;
  min-width: 400px;
}

.memoWrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
  gap: 10px;
  margin-bottom: 30px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.memoTitle {
  font-size: 30px;
}
#memoTitle {
  padding: 10px;
}

.memoContent {
  margin-top: 20px;
  font-size: 30px;
}
#memoContent {
  padding: 10px;
  height: 100px;
}
.memoButton {
  width: 100%;
  height: 50px;
}

.info {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}
.infoTitle {
}

.up {
  margin-left: auto;
  width: 70px;
}

.down {
  margin-right: 0px;
  width: 70px;
}

.contentWrapper {
  padding: 15px;
  margin-bottom: 30px;

  border: 1px solid black;
}

.contentTitle {
  width: 100%;

  font-size: 24px;
  padding-bottom: 5px;
  border-bottom: 1px solid black;
}
.date {
  margin-top: 10px;
  color: grey;
}
.content {
  margin-bottom: 10px;
  padding-top: 5px;
  font-size: 16px;
}

textarea {
  resize: none;
  width: 100%;
  height: 100px;
  margin-top: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
}

.contentDelete {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
}
.contentModify {
  width: 100%;
  padding: 5px;
}
